<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Speicher</th>
		<th>Prozessor</th>
		<th>Energiebedarf</th>
		<th>Kosten</th>
	</tr>
	</thead>
	<tbody>
	{% for r in data %}
		<tr>
			<td>{{ r.name }}</td>
			<td>{{ r.capacity }}</td>
			<td>{{ r.skill }}</td>
			<td>{{ r.energy }}</td>
			<td>{{ r.costs }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>