<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Memory</th>
		<th>Processor</th>
		<th>Energy demand</th>
		<th>Costs</th>
	</tr>
	</thead>
	<tbody>
	{% for r in data %}
		<tr>
			<td>{{ r.name }}</td>
			<td>{{ r.capacity }}</td>
			<td>{{ r.skill }}</td>
			<td>{{ r.energy }}</td>
			<td>{{ r.costs }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>