<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Speed</th>
			<th>Damage</th>
			<th>Energy</th>
			<th>Range</th>
		</tr>
	</thead>
	<tbody>
	{% for w in data %}
		<tr>
			<td>{{ w.name }}</td>
			<td>{{ w.costs|qualities }}</td>
			<td>{{ w.speed }}</td>
			<td>{{ w.damage }}</td>
			<td>{{ w.energy }}</td>
			<td>{{ w.range }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>