<div class="row-fluid">
	<div class="span6">
		<div class="well">

		<h4>Fusion reactors</h4>

		<p>Fusion reactors are very save and only loose output when damaged.
			When completely destroyed they simply shut down and don't produce any energy.
			They can simply be restarted after repairs have been completed.
			The advantage in security comes at the cost of a smaller power output.</p>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Rank</th>
				<th>min. Size</th>
				<th>Output</th>
				<th>Costs</th>
			</tr>
			</thead>
			<tbody>
			{% for r in data.fusion %}
				<tr>
					<td>{{ r.id }}</td>
					<td>{{ r.size }}</td>
					<td>{{ r.output }}</td>
					<td>{{ r.costs }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		</div>
	</div>
	<div class="span6">
		<div class="well">

		<h4>Antimatter reactors</h4>

		<p>Antimatter reactors deliver more output but are also more dangerous.
			Players need to roll 1d6 each time the reactor takes damage.
			The containment system will collapse if the result less or equal to the damage of the reactor.
			The crew has a few seconds to eject the reactor before it explodes which could cause additional damage to the ship.
			Destruction of the ship and death of the crew is the consequence of a detonation within the ship.
			After ejection of the reactor the ship is without power until it gets a replacement..</p>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Rank</th>
				<th>min. Size</th>
				<th>Output</th>
				<th>Costs</th>
			</tr>
			</thead>
			<tbody>
			{% for r in data.antimatter %}
				<tr>
					<td>{{ r.id }}</td>
					<td>{{ r.size }}</td>
					<td>{{ r.output }}</td>
					<td>{{ r.costs }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		</div>
	</div>
</div>

