<table class="table table-striped">
	<thead>
	<tr>
		<th>Class</th>
		<th>Capacity</th>
		<th>Regeneration</th>
		<th>Energy demand</th>
		<th>Costs</th>
	</tr>
	</thead>
	<tbody>
	{% for r in data %}
		<tr>
			<td>{{ r.id|rome }}</td>
			<td>{{ r.shield }}</td>
			<td>{{ r.regeneration }}</td>
			<td>{{ r.energy }}</td>
			<td>{{ r.costs }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>