{%  for category, skills in data %}
	<h3 id="skill_{{ category }}">{{ category|capitalize  }}</h3></td>

	<table class="table table-striped">
		<tr>
			<th>Skill</th>
			<th>Attributes</th>
			<th>Applications</th>
		</tr>
		{% for e in skills %}
			<tr>
				<td width="20%">{{ e.name }}</td>
				<td width="20%">{{ e.attributes[0] }} / {{ e.attributes[1] }}</td>
				<td>{% for a in e.applications %}
						<span class="badge">{{ a }}</span>
				{% endfor %}</td>
			</tr>
		{% endfor %}
	</table>
{% endfor %}