<table class="table table-striped">
	<thead>
	<tr>
		<th width="20%">Type</th>
		<th width="14%">Speed / Reload</th>
		<th width="9%">Damage</th>
		<th width="7%">Mag.</th>
		<th width="19%">Range</th>
		<th width="31%">Price</th>
	</tr>
	</thead>
	<tbody>
	{% for w in data %}
		<tr>
			<td>{{ w.name }}</td>
			<td>
				{% if w.range %}
					{{ w.speed }} / {{ w.reload }}
				{% else %}
					{{ w.speed }}
				{% endif %}</td>
			<td>{{ w.damage }}</td>
			<td>
				{% if w.range %}
					{{ w.mag }}
				{% else %}
					-
				{% endif %}</td>
			<td>
				{% if w.range %}
					{{ w.range[0] }} / {{ w.range[1] }} / {{ w.range[2] }} / {{ w.range[3] }}
				{% else %}
					Melee
				{% endif %}</td>
			<td>{{ w.costs|qualities }}</td>
		</tr>
		{% if w.description %}
		<tr>
			<td>&nbsp;</td>
			<td colspan="5"><i>{{ w.description }}</i></td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>